{% extends "base.html"%}

{% block links %}

<style>
    .products {margin-left: 1em;}
</style>
<div class="products">
    Products:
    <ul>
        <li>
            <div><a href="http://127.0.0.1:5000/vegetables">Vegetables</a></div>
        </li>
        <li>
            <div><a href="http://127.0.0.1:5000/fruits">Fruits</a></div>
        </li>
    </ul>
</div>
{% endblock %}

{% block fruits %}

<ul>
    {% for element in fruits %}
        {% if element == 'strawberry' %}
            <li style="color:red;">{{element}}</li>
        {% else %}
            <li>{{element}}</li>
        {% endif %}
    {% endfor %}
</ul>

{% endblock %}

{% block vegetables %}

<ul>
    {% for element in vegetables %}
        {% if element == 'beetroot'%}
            <li>{{element|upper()}}</li>
        {% else %}
            <li>{{element}}</li>
        {% endif %}
    {% endfor %}
</ul>

{% endblock %}